services:
  hz1:
    image: hazelcast/hazelcast:5.4.0
    container_name: hz1
    hostname: hz1
    environment:
      - HZ_CONFIG=/opt/hazelcast/config/hazelcast.yml
      - JAVA_OPTS=-Dhazelcast.config=/opt/hazelcast/config/hazelcast.yml
    volumes:
      - ./hazelcast.yml:/opt/hazelcast/config/hazelcast.yml:ro
    ports:
      - "5701:5701"
    networks:
      - lab02

  hz2:
    image: hazelcast/hazelcast:5.4.0
    container_name: hz2
    hostname: hz2
    environment:
      - HZ_CONFIG=/opt/hazelcast/config/hazelcast.yml
      - JAVA_OPTS=-Dhazelcast.config=/opt/hazelcast/config/hazelcast.yml
    volumes:
      - ./hazelcast.yml:/opt/hazelcast/config/hazelcast.yml:ro
    ports:
      - "5702:5701"
    networks:
      - lab02

  hz3:
    image: hazelcast/hazelcast:5.4.0
    container_name: hz3
    hostname: hz3
    environment:
      - HZ_CONFIG=/opt/hazelcast/config/hazelcast.yml
      - JAVA_OPTS=-Dhazelcast.config=/opt/hazelcast/config/hazelcast.yml
    volumes:
      - ./hazelcast.yml:/opt/hazelcast/config/hazelcast.yml:ro
    ports:
      - "5703:5701"
    networks:
      - lab02

  app:
    build: ./app
    container_name: counter-app-lab02
    depends_on:
      - hz1
      - hz2
      - hz3
    environment:
      - HZ_ADDRESSES=hz1:5701,hz2:5701,hz3:5701
    networks:
      - lab02

networks:
  lab02:
    driver: bridge
